.header-logo img {
    display: inline;
}

.made-base-1 {
    background-color: #2FA5F4;
}

.jumbo-market {
    background-repeat: no-repeat;
}

h1.logo {
    text-align: center;
}

.made-basic-font {
    text-align: center;
}

.logo {
    top: 10px;
    left: 10px;
    color: #FFFFFF;
}