body {
    font-family: 'Gentium Basic', serif;
    font-size: 18pt;
}

.row {
    margin: 0;
}

.section {
	padding: 20px 0 40px 0;
}

.section h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 24pt;
}

.main-section {
    color: white;
    background-color: #2FA5F4;
	padding: 20px 0 0 0;
    text-align: center;    
}

.main-section span {
    font-family: 'Open Sans', sans-serif;
    font-size: 40pt;
}

.main-section img {
    width: 100%;
}

.header-section {
	padding: 5px 0 10px 0;
}

.header-section img {
    width: 100%;
}

.badge {
    padding: 15px;
    background-color: inherit;    
    margin-bottom: 10px;
}

.badge img {
    border: 1px solid white;
}

.badge-row {
    text-align: center;
}

.badge-section {
	background-color: #545454;
	color: white;
    padding-bottom: 45px;
}

.badge-section img {
    max-width: 100%;
}

.badge-section .row {
    text-align: center;
    margin: 0px;
}

.tweet-btn {
    font-family: 'Open Sans', sans-serif;
    font-size: 20pt;
}

.pay-with-a-tweet {
    text-align: center;
    padding-top: 30px;
}

.company-section {
	background-color: #E5E5E5;
	color: #303030;
}

.team-section {
	background-color: #141414; 
	color: white;
}

.footer-section {
	text-align: center;
	background-color: #2FA5F4; 
	color: white;
}

.social-links a {
	color: inherit;
}

.team-profile {
	text-align: center;
	margin-right: 15px;
	margin-bottom: 15px;
}

.team-profile img {
	width: 100%;
	min-width: 60px;
	max-width: 120px;
	margin-bottom: 5px;
}

.team-profile a {
	color: inherit;
}

.company-profile {
	text-align: center;
}

.company-profile img {
	width: 60px;
}