body {
    font-family: 'Gentium Basic', serif;
    font-size: 18pt;
}

.header-logo img {
    display: inline;
}

.made-base-1 {
    background-color: #2FA5F4;
}

.subheading {
    text-transform: uppercase;
}

.jumbo-market {
    background-repeat: no-repeat;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h1.logo {
    text-align: center;
}

.logo {
    width: 100%;
}

.made-basic-font {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 60pt;
}

.subheading-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 24pt;
}

.section {
	padding: 20px 0 60px 0;
}

.marketing-msg {
    padding-bottom: 34px;
}

.badge-section {
	background-color: #545454;
	color: white;
    padding-bottom: 45px;
}

.badge-section, .team-section .heading {
    text-transform: uppercase;
}

.badge-special-2 {
    text-align: center;
}

.badge-special-1 {
    width: 200pt
}

.badge-row-space {
    margin-bottom: 40px;
}

.pay-with-a-tweet {
    text-align: center;
    padding-top: 30px;
}

.company-section {
	background-color: #E5E5E5;
	color: #303030;
}

.team-section {
	background-color: #141414; 
	color: white;
}

.footer-section {
	background-color: #2FA5F4; 
	color: white;
}

.team-profile {
	text-align: center;
}

.team-profile img {
	width: 120px;
}

.company-profile {
	text-align: center;
}

.company-profile img {
	width: 60px;
}

.logo {
    top: 10px;
    left: 10px;
    color: #FFFFFF;
}